.card {
	height: 200px;
	margin: 0 auto;
	background-color: var(--buttonbg);
	border-radius: 8px;
	z-index: 1;
	margin-bottom: 1.5rem;
}

@media screen and (max-width:306px) {
	.skills__article:nth-child(3) .card {
		height: 250px;
	}
}

.tools {
	display: flex;
	align-items: center;
	padding: 9px;
}
   
.circle {
	padding: 0 4px;
}
   
.box {
	display: inline-block;
	align-items: center;
	width: 10px;
	height: 10px;
	padding: 1px;
	border-radius: 50%;
}
   
.red {
	background-color: #ff605c;
}
   
.yellow {
	background-color: #ffbd44;
}
   
.green {
	background-color: #00ca4e;
}

@media screen and (min-width:414px) {
	.card{
		width: 100%;
	}
}

@media screen and (min-width: 415px) {
	.card{
		width: 400px;
	}
}

@media screen and (min-width: 768px) {
	.card{
		width: 250px;
	}
}

@media screen and (min-width: 1280px){
	.card{
		width: 350px;
	}
}