.sobre{
	background-image: url("../../img/doodle1.png");
	background-repeat: no-repeat;
	background-position: top -0.5rem left 10rem;
	background-size: 8rem;
}

@media screen and (min-width:768px){
	.sobre{
		background-size: 10rem; 
   }
}
